@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap');
*{
  padding:0;
  margin:0;
}
body {
  margin: 0;
  background: #121212;
  box-sizing: border-box;
}
.container{
  max-width:calc(100% - 22%);
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
/*============Banner1===================*/
.page1{
  height:100vh;
}
.banner-1{
  margin-top: 80px;
}
.banner-top{
   display: flex;
   justify-content: space-between;
}
.logo p{
  font-weight: 600;
  font-size: 30px;
  color: #FF7C03;
  font-family: Montserrat;
  font-style: normal;
}
.btn p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  color: #FFFFFF;
  cursor: pointer;
}
.banner-bottom{
  text-align: center;
  margin-top: 155px;
}
.banner-para p{
  font-family: Work Sans;
  font-style: normal;
  font-weight:normal;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}
/*====page2======*/

.pageback{
  background: linear-gradient(109.21deg, rgba(246, 246, 246, 0.12) 5.98%, rgba(246, 246, 246, 0) 90.32%);
}
.banner2-top{
  width: 100%;
  display:flex;
  position: relative;
  top:10%;
}
.page2{
  width: 100%;
  height:100vh;
}
.b2-colors{
  width: 50%;
  text-align: right;
}
.b2-colors h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  width:auto;
  position: relative;
  cursor: pointer;
}
.b2-colors h1:hover{
  color: #FF7C03;
  transition: 0.5s ease;
}
.b2-colors h1::after{
  content: "";
  display: block;
  width: 154px;
  height:1px;
  background: #fff;
  position: absolute;
  right:0;
  margin-top: 1%;
}

.b2-colors p{
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #F5F5F5;
  margin-top: 3%;
}

.b2-angles{
  width: 50%;
  margin-left:50px;
}
.b2-angles h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  cursor: pointer;
}
.b2-angles h1:hover{
  color: #FF7C03;
  transition: 0.5s ease;
}
.b2-angles h1::after{
  content: "";
  display: block;
  width: 154px;
  height:1px;
  position: relative;
  background: #fff;
  margin-top: 1%;
}
.b2-angles p{
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #F5F5F5;
  margin-top: 3%;
}
.b2colorsimages{
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap:2%;
  margin-top: 147px;
  transition:0.5s ease;
}
.cam{
  max-width: 283px;
  height: 246px;
}
.cam img{
  width: 100%;
  height:100%;
  transition: 0.5s ease;
  cursor: pointer;
}
.cam img:hover{
  transform: translatey(-10px);
}
.b2angleimages{
  max-width: 699px;
  display: flex;
  justify-content: space-between;
  column-gap:2%;
  margin:147px auto 0 auto;
}
/*====page3======*/
.page3{
  margin-top: 147px;
}
.page3items{
  max-width: 100%;
}
.p3icons h1{
  margin:0 0 113px 0;
  text-align: center;
  color: #FF7C03  ;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -0.03em;
}
.page3items .pag3col{
  display: flex;
  max-width:100%;
  justify-content: space-between;
  column-gap: 5px;
}
.itemimg{
  max-width:152px;
  height:152px;
  margin-bottom: 89px;
}
.itemimg img{
  max-width:100%;
  height:100%;
  border-radius: 20px;
  transition: 0.5s ease;
  cursor: pointer;
}
.itemimg img:hover{
  transform: translatey(-10px);
}
.vox2{
  display: none;
}
/*====page4======*/
.c4{
  margin-top: 90px;
}
.pageback2{
  background: linear-gradient(109.21deg, rgba(246, 246, 246, 0.12) 5.98%, rgba(246, 246, 246, 0) 90.32%);
  height:100vh;
}
.page4{
  width: 100%;
  height:100vh;
  text-align: center;
  position: relative;
  top:200px;
}
.page4 p{
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
}
.page4 button:hover{
  color:white;
}
.p3image{
  max-width: 277px;
  height:81px;
  display: flex;
  justify-content: space-between;
  margin: 68px auto 0 auto;
}
.p3i{
  width:50%;
  height:100%;
}
.p1 img{
  width:83px;
  height:83px;
  cursor: pointer;
}
.p2 img{
  width:93px;
  height:81px;
  cursor: pointer;
}
/*====page5======*/

.page5{
  text-align: center;

}
.page5 h1{
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  color: #FF7C03;
  margin-top: 244px;
  
}
.page5 p{
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  color: #F5F5F5;
  line-height: 50px;
}
.page5 form textarea{
  width: 51.23%;
  height: 220px;
  background: #0D0600;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  outline: none;
  border: none;
  padding:38px 60px 38px 38px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-top: 51px;
  color: #BDBDBD;
  position: relative;
}
.footer{
  max-width: 311px;
  margin: auto;
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
  column-gap: 57px;
}
.footer .fi{
  margin: auto;
  font-size: 32px;
  column-gap: 57px;
  color: white;
  cursor: pointer;
}
.fend{
  width: 100%;
  text-align: center;
}
.fend p{
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #F5F5F5;
  margin: 38px 0;
  cursor: pointer;
}
.page5 form span{
  cursor: pointer;
  position:relative;
  bottom: 235px;
  right: 50px;
}

/*-Media--*/
@media(max-width:1120px){
  .banner-para p{
    font-size: 35px;
    line-height: 56px;
  }
  .banner-para button{
    width: 300px;
    height: 60px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 20px;
  }
  .b2-colors h1{
    font-size: 25px;
  }
  .b2-angles h1{
    font-size: 25px;
  }
  .b2-colors h1::after{
    width: 150px;
  }
  .b2-angles h1::after{
    width: 150px;
  }
  .b2-colors p{
    font-size: 20px;
    line-height: 25px;
  }
  .b2-angles p{
    font-size: 20px;
    line-height: 25px;
  }
  .b2colorsimages{
    margin-top: 140px;
  }
  .b2angleimages{
    max-width: 470px;
  }
  .cam{
    max-width: 200px;
    height: 150px;
  }
  .p3icons h1{
    font-size: 40px;
  }
  .itemimg{
    max-width:100px;
    height:100px;
    margin-bottom: 60px;
  }
  .page4 p{
    font-size: 25px;
  }
  .page4 button{
    width: 300px;
    height: 60px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 20px;
  }

}
@media(max-width:800px){
  .banner-para p{
    font-size: 25px;
    line-height: 50px;
  }
  .banner-para button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
  }
  .b2-colors h1{
    font-size: 20px;
  }
  .b2-angles h1{
    font-size: 20px;
  }
  .b2-colors h1::after{
    width: 100px;
  }
  .b2-angles h1::after{
    width: 100px;
  }
  .b2-colors p{
    font-size: 15px;
    line-height: 20px;
  }
  .b2-angles p{
    font-size: 15px;
    line-height: 20px;
  }
  .b2colorsimages{
    margin-top: 100px;
  }
  .b2angleimages{
    max-width: 350px;
  }
  .cam{
    max-width: 150px;
    height: 130px;
  }
  .page3{
    margin-top: 100px;
  }
  .p3icons h1{
    font-size: 30px;
  }
  .itemimg{
    max-width:80px;
    height:80px;
    margin-bottom: 60px;
  }
  .p3image{
    max-width: 200px;
  }
  .p1 img{
    width:60px;
    height:60px;
  }
  .p2 img{
    width:73px;
    height:61px;
  }
  .page4 p{
    font-size: 20px;
    font-weight: bold;
  }
  .page4 button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
  }
  .page5 h1{
    margin-top:100px; 
    font-size: 30px;
  }
  .page5 p{
    font-size: 27px;
  }
  .page5 form{ 
    position: relative;
    left:2%;
  }
  .page5 form textarea{
    width:70%;
  }
}
@media(max-width:646px){
  .page4 p{
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    position: relative;
    top:5%;
  }
}
@media(max-width:582px){
  .logo p{
    font-size: 20px;
  }
  .btn p{
    font-size: 20px;
  }
  .banner-para p{
    font-size: 25px;
    line-height: 50px;
  }
  .banner-para button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
  }
  .banner2-top{
    margin-top: 10px;
  }
  .b2-colors h1{
    font-size: 20px;
  }
  .b2-angles h1{
    font-size: 20px;
  }
  .b2-colors h1::after{
    width: 100px;
  }
  .b2-angles h1::after{
    width: 100px;
  }
  .b2-colors p{
    position: relative;
    top:15%;
    font-size: 13px;
  }
  .b2-angles p{
    position: relative;
    top:15%;
    font-size: 13px;
  }
  .b2colorsimages{
    margin-top: 100px;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }
  .ca{
    margin-top: 10%;
  }
  .b2angleimages{
    max-width: 350px;
  }
  .cam{
    max-width: 150px;
    height: 130px;
  }
  .page3{
    margin-top: 100px;
  }
  .p3icons h1{
    font-size: 30px;
  }
  .vox1{
    display: none;
  }
  .vox2{
    display: block;
  }
  .itemimg{
    max-width:80px;
    height:80px;
    margin-bottom: 60px;
  }
  .p3image{
    max-width: 200px;
  }
  .p1 img{
    width:60px;
    height:60px;
  }
  .p2 img{
    width:63px;
    height:51px;
  }
  .page4 p{
    font-size: 16px;
  }
  .page4 button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
  }
  .page5 h1{
    margin-top:100px; 
    font-size: 30px;
  }
  .page5 p{
    font-size: 27px;
  }
  .page5 form{ 
    position: relative;
    left:2%;
  }
  .page5 form textarea{
    width:70%;
  }
  .footer{
    max-width: 250px;
    margin: auto;
    margin-top: 140px;
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
  }
  .footer .fi{
    margin: auto;
    font-size: 25px;
    column-gap: 20px;
    color: white;
  }
  .fend p{
    font-size: 18px;
    margin: 15px 0;
  }
}
@media(max-width:560px){
  .banner-para p{
    font-size: 20px;
  }
}

@media(max-width:505px){
  .banner-para p{
    font-size: 20px;
    line-height: 50px;
  }
  .b2-colors p{
    font-size: 12px;
  }
  .b2-angles p{
    font-size: 12px;
  }
  .cam{
    max-width: 140px;
    height: 120px;
  }
  .page5 h1{
    margin-top:100px; 
    font-size: 20px;
  }
  .page5 p{
    font-size: 22px;
  }
  .page5 form span{
    cursor: pointer;
    position:relative;
    bottom: 255px;
  left:10px;
  }
  .page3{
    margin-top: 40px;
  }
  .p3icons h1{
    margin:0 0 80px 0;
  }
  .itemimg{
    max-width:70px;
    height:70px;
    margin-bottom: 40px;
  }
  .page4 p{
    margin-top: 5%;
  }
  .page4 button{
    margin-top: 10px;
  }
  .page5 form textarea{
    font-size: 20px;
    height:150px;
  }
  .page5 form span{
    cursor: pointer;
    position:relative;
    bottom: 190px;
    left:150px;
  }
}
@media(max-width:470px){
  .b2-colors h1{
    font-size: 15px;
  }
  .b2-angles h1{
    font-size: 15px;
  }
  .b2-colors h1::after{
    width: 80px;
  }
  .b2-angles h1::after{
    width: 80px;
  }
  .b2-colors p{
    top:12%;
    font-size: 10px;
  }
  .b2-angles p{
    top:12%;
    font-size: 10px;
  }
  .b2-angles{
    width: 50%;
    margin-left:20px;
  }
}
@media(max-width:455px){
  .container{
    max-width:calc(100% - 15%);
  }
  .itemimg{
    margin-bottom: 20px;
  }
}
@media(max-width:414px){
  .banner-para p{
    font-size: 18px;
  }
}
@media(max-width:397px){
  .logo p{
    font-size: 18px;
  }
  .btn p{
    font-size: 18px;
  }
  .banner-para p{
    font-size: 18px;
    line-height: 21px;
  }
  .banner-para button{
    width:142px;
    height: 37px;
    border-radius: 11px;
    font-size: 14px;
  }
  .b2-colors h1{
    font-size: 18px;
  }
  .b2-angles h1{
    font-size: 18px;
  }
  .b2-colors h1::after{
    width: 82px;
  }
  .b2-angles h1::after{
    width: 82px;
  }
  .b2-colors p{
    font-size: 12px;
    line-height: 14px;
  }
  .b2-angles p{
    font-size: 12px;
    line-height: 14px;
  }
  .b2colorsimages{
    margin-top: 100px;
  }
  .b2angleimages{
    max-width: 280px;
  }
  .cam{
    max-width: 116px;
    height: 106px;
  }
  .page3{
    margin-top: 67px;
  }
  .p3icons h1{
    font-size: 30px;
    margin:0 0 67px 0;
  }
  .itemimg{
    max-width:56px;
    height:56px;
    margin-bottom: 23px;
    border-radius: 20px;
  }
  .p3image{
    max-width: 200px;
  }
  .p1 img{
    width:33px;
    height:33px;
  }
  .p2 img{
    width:38px;
    height:33px;
  }
  .page4 p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
  }
  .page4 button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 0px;
  }
  .page5 h1{
    margin-top:100px; 
    font-size: 18px;
  }
  .page5 p{
    font-size: 14px;
    line-height: 30px;
  }
  .page5 form {
    left:3%;
  }
  .page5 form textarea{
    width:50%;
    height: 181px;
    font-size: 14px;
    margin-top:30px;
  }
  .page5 form span{
    cursor: pointer;
    position:relative;
    bottom: 200px;
    left:-30px;
  }
}
@media(max-width:397px){
  .banner-para p{
    font-size: 15px;
  }
  .page4 p{
    font-size: 15px;
  }
}