button {
    width: 356px;
    height: 83px;
    background: linear-gradient(92.98deg, rgba(247, 247, 247, 0.12) 6.32%, rgba(235, 235, 235, 0) 101.07%);
    border-radius: 19px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    border:none;
    outline: none;
    color: #FF7C03;
    transition: 0.5s ease;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5 ease;
  }
  .switch-off {
    background:linear-gradient(92.98deg, rgba(247, 247, 247, 0.12) 6.32%, rgba(235, 235, 235, 0) 101.07%);
    transition: 0.5 ease;
    border:none;
    outline: none;
  }
  .switch-off:hover {
    background:linear-gradient(92.98deg, rgba(247, 247, 247, 0.21) 6.32%, rgba(235, 235, 235, 0.05) 101.07%);
    transition: 0.5 ease;
  }
  .switch-on {
    background: #FF7C03;
    color: white;
    transition: 0.5 ease;
    border:none;
    outline: none;
  }